<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <p class="secret-text">Jack Bauer is my hero.</p>
      <button type="submit" class="btn btn-dark" style="background-color: rgb(20, 19, 19);">Logout</button>
    </div>
    
  </div>

  <%- include('partials/footer') %>